.breathe-animation {
  background-color: transparent;
  position: absolute; /* ou use fixed se preferir */
  top: 40%; /* Coloca o elemento no centro vertical da página */
  left: 30.5%; /* Coloca o elemento no centro horizontal da página */

  margin-top: -50px; /* Move o elemento 40px para cima */
  font-size: 70px;
  z-index: 1;
  
  /* Evita qualquer interação do mouse ou seleção do texto */
  pointer-events: none;
  user-select: none;
}


.breathe-animation span {
  background-color: transparent;
  font-family: 'TheFont';
  font-size: 90px;

  /* Cor do texto */
  color: #007FFF;

  /* Centraliza o texto horizontalmente */
  text-align: center; 

  /* Animação de respiração */
  animation: letter-breathe 3s ease-in-out infinite;
  z-index: 100;

  /* Evita qualquer interação do mouse ou seleção do texto */
  pointer-events: none;
  user-select: none;
}

/* Animação de respiração */
@keyframes letter-breathe {
  from,
  to {
    font-variation-settings: 'wght' 100;
  }

  50% {
    font-variation-settings: 'wght' 900;
  }
}
