@font-face {
  font-family: 'TheFont';
  
  /* Variable fonts like the one linked below allow for fine-tuned control over various font properties dynamically via CSS, such as weight ('wght'), width ('wdth'), etc. This link is where your web browser will download the font from. */
  /* Insert the link to your custom variable font */
  src: url("https://garet.typeforward.com/assets/fonts/shared/TFMixVF.woff2")
    format('woff2'); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: trans;
  font-family: "Roboto Mono", monospace;
}

.banner {
  position: fixed; /* O vídeo deve ficar fixo */
  top: 0;
  left: 0;
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100vh; /* Ocupa toda a altura da tela */
  overflow: hidden;
  z-index: 0; /* Fica na camada de fundo */
  background-color: transparent;
}

.banner video {
  width: 100%; /* Ocupa toda a largura da tela */
  height: 100%; /* Ocupa toda a altura da tela */
  object-fit: cover; /* Cobre toda a área sem distorcer */
  filter: brightness(0.8); /* Ajusta o brilho */
}

#particles-js {
  position: absolute; /* Usar absolute para ficar acima do vídeo */
  top: 0; /* Começa do topo */
  left: 0; /* Começa da esquerda */
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  z-index: 1; /* Fica acima do vídeo */
}


.presentation {
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  position: absolute; /* ou use fixed se preferir */
  top: 50%; /* Coloca o elemento no centro vertical da página */
  left: 50%; /* Coloca o elemento no centro horizontal da página */
  transform: translate(-50%, -50%); /* Centraliza o elemento */
  margin-top: -150px; /* Move o elemento 40px para cima */
  font-size: 30px;
  z-index: 100;
  pointer-events: none;
  user-select: none;
}


